.root {
  display: inline-flex;
  justify-content: center;
  justify-items: center;
  width: fit-content;
  padding: 8px 16px 8px 16px;
  border-radius: 4px;
  transition: opacity 1s;
}

.root > img {
  margin-right: 4px;
}

.small {
  width: 100px;
}

.medium {
  width: 200px;
}

.red {
  background-color: #fc2c2c;
  color: #ffffff;
}

.red:hover {
  background-color: #ff0000;
}

.purple {
  background-color: #6366f1;
  color: #ffffff;
}

.purple:hover {
  background-color: #5355f1;
}

.white {
  background-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  color: #000000;
}

.white:hover {
  background-color: #fafafa;
}
