.select-wrapper {
  position: relative;
}

.input-field__input {
  position: relative;
  width: 12rem;
  padding: 8px;
  border: 1px solid #e2e8f0;
  border-radius: 4px;
  color: #475569;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.select-wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 11px;
  background: url('../../../assets/arrowIcon.svg') no-repeat;
  background-position: center;
  margin-right: 0.75rem;
}

select:invalid {
  color: #94a3b8;
}

option {
  color: #475569;
}
