.root {
  color: #000000;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.root > label {
  padding-left: 4px;
  color: #000000;
}

.image {
  text-align: center;
  width: 230px;
  padding: 8px 16px 8px 16px;
  border-radius: 4px;
  transition: opacity 1s;
  background-color: #ffffff;
  border-style: solid;
  border-width: 1px;
}

.root > input {
  color: #000000;
  padding: 8px;
  border: 1px solid #e2e8f0;
  border-radius: 4px;
}

.root > textarea {
  color: #000000;
  padding: 8px;
  border: 1px solid #e2e8f0;
  border-radius: 4px;
}

.medium {
  width: 240px;
}

.large {
  width: 763.94px;
}

input[type='date'] {
  display: flex;
  flex-flow: row-reverse;
  padding: 8px;
  height: auto;
}

input[type='file'] {
  display: none;
}
