.root {
  background-color: white;
}

.horizontal {
  border-top-width: 2px;
  border-color: #f1f5f9;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px;
}

.kiri {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.kanan {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.atas {
  display: flex;
  flex-direction: row;
  gap: 23px;
}

.checkbox {
  border-radius: 4px;
  background-color: #6366f1;
}

.circle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: 1px solid #e2e8f0;
  color: #e2e8f0;
  text-align: center;
}

.pojokkanan {
  display: flex;
  justify-content: end;
  gap: 20px;
  padding: 0 40px 30px 40px;
}

.dropdown-label {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.dropdown-label > div {
  padding-left: 4px;
  color: #000000;
}
