.input {
  clip: rect(0 0 0 0);
  position: absolute;
}

.checkbox {
  display: inline-block;
  height: 20px;
  width: 20px;
  background: #fff;
  border: 3px #ddd solid;
  margin-right: 10px;
  border-radius: 4px;
}

.checkbox--active {
  border-color: #6366f1;
  background: #6366f1;
}
